

<!-- ############ PAGE START-->
<div class="row no-gutter">
  <div class="col-sm-3 col-lg-2">
    <div class="p-y">
      <div class="nav-active-border left b-primary">
        <ul class="nav nav-sm flex-column">
          <li class="nav-item">
            <a class="nav-link block active" href data-toggle="tab" data-target="#tab-1">Selfie Verification</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-9 col-lg-10 light lt">
    <div class="tab-content pos-rlt">
      <div class="tab-pane active" id="tab-1">
        <div class="p-a-md dker _600"></div>
          <%= form_with(model: selfie_verification, local: true, class: 'p-a-md col-md-6') do |form| %>
            <% if selfie_verification.errors.any? %>
              <div id="error_explanation">
                <%= pluralize(selfie_verification.errors.count, "error") %> prohibited this selfie_verification from being saved:
          
                <ul>
                <% selfie_verification.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
          
          <div class="form-group">
            <label>Personal Photo with National Identity</label>
            <div class="form-file">
              <%= form.file_field :avatar %>
              <button class="btn white">Upload Avatar</button>
            </div>
          </div>
          
          <button type="submit" class="btn btn-info m-t" >Submit</button>
        <% end %>
      </div>      
    </div>
  </div>
</div>



<!-- ############ PAGE END-->
