<%= form_with(model: verification, local: true) do |form| %>
  <% if verification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(verification.errors.count, "error") %> prohibited this verification from being saved:</h2>

      <ul>
      <% verification.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :admin_id %>
    <%= form.number_field :admin_id %>
  </div>

  <div class="field">
    <%= form.label :email_confirmation_token %>
    <%= form.text_field :email_confirmation_token %>
  </div>

  <div class="field">
    <%= form.label :email_confirmed_at %>
    <%= form.datetime_select :email_confirmed_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
