<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @verification.admin_id %>
</p>

<p>
  <strong>Email confirmation token:</strong>
  <%= @verification.email_confirmation_token %>
</p>

<p>
  <strong>Email confirmed at:</strong>
  <%= @verification.email_confirmed_at %>
</p>

<%= link_to 'Edit', edit_verification_path(@verification) %> |
<%= link_to 'Back', verifications_path %>
