<!-- brand -->
<a class="navbar-brand">
	<div ui-include="'/assets/images/logo.white.svg'"></div>
	<img src="/assets/images/logo.png" alt="." class="hide">
	<span class="hidden-folded inline">{{app.name}}</span>
</a>
<!-- / brand -->
