<%= form_with(model: watchdog, local: true) do |form| %>
  <% if watchdog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(watchdog.errors.count, "error") %> prohibited this watchdog from being saved:</h2>

      <ul>
      <% watchdog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :admin_id %>
    <%= form.number_field :admin_id %>
  </div>

  <div class="field">
    <%= form.label :logintime %>
    <%= form.datetime_select :logintime %>
  </div>

  <div class="field">
    <%= form.label :ipaddress %>
    <%= form.text_area :ipaddress %>
  </div>

  <div class="field">
    <%= form.label :lastvisit %>
    <%= form.datetime_select :lastvisit %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
