<p id="notice"><%= notice %></p>

<p>
  <strong>Admin:</strong>
  <%= @watchdog.admin_id %>
</p>

<p>
  <strong>Logintime:</strong>
  <%= @watchdog.logintime %>
</p>

<p>
  <strong>Ipaddress:</strong>
  <%= @watchdog.ipaddress %>
</p>

<p>
  <strong>Lastvisit:</strong>
  <%= @watchdog.lastvisit %>
</p>

<%= link_to 'Edit', edit_watchdog_path(@watchdog) %> |
<%= link_to 'Back', watchdogs_path %>
